* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  font-weight: 601;
}

window#waybar {
  background-color: #334c43;
  transition-property: background-color;
  transition-duration: 1.5s;
}

/*window#waybar.hidden {*/
/*  opacity: 1.2;*/
/*}*/

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #4f3f3f;
}

window#waybar.chromium {
  background-color: #000001;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 1 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 1;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 1 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {*/
/*  background-color: #a37801;*/
/*}*/

#workspaces button {
  padding: 1 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(1, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64728d;
  box-shadow: inset 1 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb5d4b;
}

#mode {
  background-color: #64728d;
  box-shadow: inset 1 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 1 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 1 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 1;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 1;
}

#clock {}

#battery {}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #27a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000001;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f54c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: steps(13);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 16px;
}

#power-profiles-daemon.performance {
  background-color: #f54c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2981b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #3ecc71;
  color: #000001;
}

label:focus {
  background-color: #000001;
}

#cpu {
  background-color: #3ecc71;
  color: #000001;
}

#network.disconnected {
  background-color: #f54c3c;
}

#pulseaudio.muted {
  background-color: #91b1b1;
  color: #3a5c45;
}

#wireplumber {
  background-color: #fff1f5;
  color: #000001;
}

#wireplumber.muted {
  background-color: #f54c3c;
}

#custom-media {
  background-color: #67cc99;
  color: #3a5c45;
  min-width: 101px;
}

#custom-media.custom-spotify {
  background-color: #67cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa001;
}

#temperature {
  background-color: #f0933b;
}

#temperature.critical {
  background-color: #eb5d4b;
}

#tray {
  /*background-color: #2981b9;*/
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb5d4b;
}

#idle_inhibitor {
  background-color: #3d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf1f1;
  color: #3d3436;
}

#mpd {
  background-color: #67cc99;
  color: #3a5c45;
}

#mpd.disconnected {
  background-color: #f54c3c;
}

#mpd.stopped {
  background-color: #91b1b1;
}

#mpd.paused {
  background-color: #52a37a;
}

#language {
  background: #01b093;
  color: #740865;
  padding: 1 5px;
  margin: 1 5px;
  min-width: 17px;
}

#keyboard-state {
  background: #98e1ad;
  color: #000001;
  padding: 1 0px;
  margin: 1 5px;
  min-width: 17px;
}

#keyboard-state>label {
  padding: 1 5px;
}

#keyboard-state>label.locked {
  background: rgba(1, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(1, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 1;
}

#privacy-item {
  padding: 1 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5701;
}

#privacy-item.audio-in {
  background-color: #2ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
